    body{
      margin: 0;
    }
      /*    body{
              
              background-color: #white;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              box-sizing: border-box;
              font-family: sans-serif;

          }*/
header{
  padding-top: 1px;
  background-color: #ffe0cc;
  padding-bottom: 50px;
}
.nav {

  background: #ffe0cc;
  margin:0;
  width:100%;
}
header h2
{
  font-size: 180%;
  margin-bottom:0%;
  margin-top: 3%;
  color: #877f7d;
}
ul {


  list-style: none;
  padding: 0;
  margin:0;
  margin-top: -2%;
  position: absolute;
  
}
ul li {


  float:right;
  margin-top: 10px;
}

ul li a {

  width:93px;
  color:gray;
  display: block;
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  padding: 10px;
 


}
a:hover {


  background: white;
}
ul li  ul {

  background: white;
}
 ul li  ul li {
  float:none;
 }
 ul li ul  {
  display: none;
  margin-top: 1%;
  
 }
 ul  li:hover ul {

  display: block;
  background: lightgray;
 }
.circle {
   height: 226px;
    width: 247px;
    background-color: #934a0c26;
    border-radius: 50%;
    margin-left: 19%;
    margin-top: -4%;}
.circle1
{
          height: 375px;
    width: 425px;
    background-color: #934a0c26;
    border-radius: 50%;
    margin-left: 51%;
    margin-top: -26%;}
.img {
 
border-radius: 50%;

}
.img1{
    border-radius: 50%;
    padding: 1px;
    border: 8px solid transparent;
    background: linear-gradient(90deg,#FF5733);
}
.mybox{
height: 100px;
width: 200px;
border: 1px solid #000;
text-align:center;
}
.text{
     background-color:#F8F9F9 ;
  width: 400px;
  padding: 25px;
  margin-left: 31%;
  margin-top: -12%;
  column-count: 2;
    column-gap: 30px;
    column-rule: 1px dashed black;
}

  footer section
{
    width: 100%;
    margin-top: 4%;
    display: inline-flex;;
}
footer section div h3
{
    color: #fde2cf;
    font-size: 130%;
}
.div1
{
    margin-right: 30%;
    margin-left: 4%;
}
.div1 a
{
    color: #fde2cf;
    text-decoration: none;
}
footer section div p
{
    color: #fde2cf;
    font-size: 120%;
}
footer section div input
{
    margin:2%;
    padding: 5%;    
    color: white;
    
}
#sub1{
    width: 60%;
    color:#595858;
    background-color: #fde2cf;
    border:none;
    border-radius: 6px;
    font-size: 130%;

}
.secfooter
{
    background-color: #86bdbf;
    width: 99.6%;
    margin-top: 0%;
    padding: 3px;

}
#copyright
{
    margin-top: 0%;

    color:#595858;
    font-style: italic;
    padding-top: 5%;
    font-size: 90%;


}
#end
{
    color:#595858;
   font-style: italic;
   font-size: 90%;
   
}

.footer1{
    background-color: rgba(2, 2,2,0.7);
    height: 350px;
    

}

.link1{
    text-decoration: none;
    color: black;
}
.circle2{margin-top: -10%;
    margin-left: -80%;
    margin-bottom: -20%;
    margin-left: 60%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: repeating-linear-gradient(
  45deg,
  rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 1) 10px,
  rgba(0, 0, 0, 0) 10px,
  rgba(0, 0, 0, 0) 20px
)
}
