body{
	margin: 0;
  background: #cee1f0;
}
*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
header{
  background:  rgba(2, 2,2,0.4);
  width: 100% !important;

  height: 115px;

}
nav{
  margin-top: 35px;
  margin-left: 52%;
}

ul li{

  float: left;
  width: 100px;
  height: 40px;
  background-color: rgba(2, 2,2,0.0);
  opacity: 0.8;
  line-height: 40px;

  text-align: center;
  font-size: 18px;
}
ul li a{
  text-decoration: none;
  color: white;
  display: block;

}

ul li a:hover{
    text-align: center;
  background-color: rgba(2, 2,2,0.5);
  border-bottom: 3px solid #86bdbf;
  -webkit-appearance:none;
     color:coral;
}
ul li ul li{
  display: none;
background:  rgba(2, 2,2,0.3);
	border-bottom:0px !important;
}
ul li:hover ul li{
  display: block;
}
 {
   width: 1350px;
 }

 /*Body*/
 .skincare
 {
   margin-top: 10%;
 }
 .skincare h1
 {
   font-family: 'Allura', cursive;
   font-size: 52px;
   margin-bottom: 60px;
   text-align: center;
 }
.skincare1
{
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;

}
.skincare1 .firstA
{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  height: 500px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}
.skincare1 .firstA h3
{
  color: #7cafd6;
  font-size: 26px;
  margin-top: 50px;

}
.skincare1 .firstA p.Ap1
{
  color: #ccc;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;

}
.skincare1 .firstA .Article_img
{
  width: 100px;
  height: 100px;

  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
}
.skincare1 .firstA .Article_img img{
  width: 100px;
  height: 100px;
  padding: 10px;
}


 footer section
 {
     width: 100%;
     margin-top: 4%;
     display: inline-flex;;
 }
 footer section div h3
 {
     color: #fde2cf;
     font-size: 130%;
 }
 .div1
 {
     margin-right: 30%;
     margin-left: 4%;
 }
 .div1 a
 {
     color: #fde2cf;
     text-decoration: none;
 }
 footer section div p
 {
     color: #fde2cf;
     font-size: 120%;
 }
 footer section div input
 {
     margin:2%;
     padding: 5%;
     color: white;

 }
 #sub1{
     width: 60%;
     color:#595858;
     background-color: #fde2cf;
     border:none;
     border-radius: 6px;
     font-size: 130%;

 }
 .secfooter
 {
     background-color: #86bdbf;
     width: 99.6%;
     margin-top: 0%;
     padding: 3px;

 }
 #copyright
 {
      margin-top: 0%;
    

     color:#595858;
     font-style: italic;
     padding-top: 5%;
     font-size: 90%;


 }
 #main{
 	padding-top: 5px;
 position: sticky !important;
 	padding-bottom: 5px;

 }
 #end
 {
     color:#595858;
    font-style: italic;
    font-size: 90%;

 }

 .footer1{

 /*    height: 350px;*/


 }

 .link1{
     text-decoration: none;
     color: black;
 }

 .valid {
     border-color: #36cc36;


 }

 .invalid {border-color:coral;

                      }
 input.invalid + p {
     opacity: 1;
     height: auto;
     margin-bottom: 20px;
 }
