
{
	box-sizing: border-box;

}
 body{
	 background-color: #fcf0f0;
 }




ul{
   margin: 0;
   padding: 0;
   list-style: none;
 }
 header{
   background:  rgba(2, 2,2,0.4);
   width: 100% !important;

   height: 115px;

 }
 nav{
   margin-top: 35px;
   margin-left: 52%;
 }

 ul li{

   float: left;
   width: 100px;
   height: 40px;
   background-color: rgba(2, 2,2,0.0);
   opacity: 0.8;
   line-height: 40px;

   text-align: center;
   font-size: 18px;

 }
 ul li a{
   text-decoration: none;
   color: white;
   display: block;

 }

 ul li a:hover{
     text-align: center;
   background-color: rgba(2, 2,2,0.5);
   border-bottom: 3px solid #86bdbf;
   -webkit-appearance:none;
       color:coral;

 }
 ul li ul li{
   display: none;
 background:  rgba(2, 2,2,0.3);
 	border-bottom:0px !important;
 }
 ul li:hover ul li{
   display: block;
 }
  {
    width: 1350px;
  }

 #head{


 	background: rgba(2, 2,2,0.4) ;
 	color: white;
 	padding-bottom: 3em;
 }




header
{
  width: 100% !important;
	height: 500px;

background-image:
        linear-gradient(rgba(2, 2,2,0.2), rgba(2, 2,2,0.4)),
        url('img.png') ;


				background-repeat: no-repeat;

    background-size: 1600px 500px;
}

#get{

	color: white;
	font-size: 220%;
	font-weight: 180%;
}


body{
	margin:0;
	color: #485e74;
	line-height: 1.6;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;

}
ul{
	list-style: none;
	padding: 0;
}
.brand{
	text-align: center;

}
.brand span{
	color: #fff;

}

.wrapper{
	margin-left: 11%;
	width: 75%;
	margin-top: -10%;
	box-shadow: 0 0 20px rgba(72, 94, 116, 0.7);
}
.wrapper>*{
	padding: 1em;

}



.info h3, .info ul{
	text-align: center;
	margin: 0 0  1rem 0;
}
.contact{
	background: #f9feff;
}
.contact form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.contact form label{
	display: block;
}
.contact form p{
	margin:0;
}
.contact form .full{
	grid-column: 1 / 3;
	width: 98%
}
.contact form button,  .contact form textarea{
	width: 96%;
	padding: 1em;

	border-radius: 12px solid #ffd2cb;
	border-color: #ffd2cb;
}
.in{
	appearance: none;
  -webkit-appearance: none;
	border: none;

	border-bottom: 2px solid #ffd2cb;

	height: 26px;
	width: 200px;
}
.contact form button{
	background: white;
	border: 2.5px solid;
	color: #ffd2cb;
	border-color: #ffd2cb;
	text-transform: uppercase;
}
.contact form input:focus  {
	outline: none;
	border-bottom: 2px solid #86bdbf;
	    transition: all 0.5s ease-in;
}
.contact form textarea:focus{
	outline: none;
	border: 2px solid #86bdbf;
			transition: all 0.5s ease-in;

}


.contact form button:hover, .contact form button:focus{
	background:#ffd2cb;
	color: white;
	outline:0;
	transition: background-color 1s ease-out;

}

@media (min-width:700px) {
	.wrapper{
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	.wrapper>*{
		padding: 2em;
	}
.info{
		background-color:#ffd2cb;
	}
	.info h3, .info ul, .brand{
		text-align: left;
	}
}
footer section
{
    width: 100%;
    margin-top: 4%;
    display: inline-flex;;
}
footer section div h3
{
    color: #fde2cf;
    font-size: 130%;
}
.div1
{
    margin-right: 30%;
    margin-left: 4%;
}
.div1 a
{
    color: #fde2cf;
    text-decoration: none;
}
footer section div p
{
    color: #fde2cf;
    font-size: 120%;
}
footer section div input
{
    margin:2%;
    padding: 5%;
    color: white;

}
#sub1{
    width: 60%;
    color:#595858;
    background-color: #fde2cf;
    border:none;
    border-radius: 6px;
    font-size: 130%;

}
.secfooter
{
    background-color: #86bdbf;
    width: 99.6%;
    margin-top: 0%;
    padding: 3px;

}
#copyright
{
    margin-top: 0%;

    color:#595858;
    font-style: italic;
    padding-top: 5%;
    font-size: 90%;


}
#main{
	padding-top: 5px;

	padding-bottom: 5px;

}
#end
{
    color:#595858;
   font-style: italic;
   font-size: 90%;

}

.footer1{

/*    height: 350px;*/


}

.link1{
    text-decoration: none;
    color: black;
}
.valid {
    border-color: #36cc36;


}

.invalid {border-color:coral;

                     }
input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}
#geo {

	margin-left: 6%;
	background-color: #eeadf0;
	border:none;
	color:white;
	padding: 15px 32px;
	text-align:center;
	display: inline-block;
	font-size: 15px;
	border-radius: 10px;
	outline: none;
}
#geo:hover{

	background-color: #de62cb;
}

