body {
  margin: 0;
  background-color: #fcf0f0;

}
header{
  background:  rgba(182, 194, 185);
  width: 100% !important;

  height: 130px;

}

.navbar {
  overflow: hidden;
margin-top: 4%;

  margin-left: 60%;
}

.navbar a {
  float: left;
  font-size: 23px;
  color: #485e74;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 23px;
  border: none;
  outline: none;
  color: #485e74;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background: rgba(2, 2,2,0.3);
  border-bottom: 3px solid #86bdbf;
  -webkit-appearance:none;
      color:white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}





#fig1 {

        width: 450px;
       height: 550px;
    margin-top: -14%;
border-radius: 20px;
 box-shadow: 10px 10px 8px  #888888;
    margin-left: 25%;
}

#fig2{
    width: 450px;
    height: 550px;
border-radius: 20px;
    margin-left: 59%;
    margin-top: -5%;
     box-shadow: 10px 10px 8px  #888888;
}
#fig3 {

      width: 450px;
      height: 550px;
    margin-top: -14%;
    margin-left: 25%;
    margin-bottom: -28%;
    border-radius: 20px;
     box-shadow: 10px 10px 8px  #888888;;

}
#figborder1 {
border: 20px solid white;
border-color: white;
margin:6%;
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 220px;
  border: 1px solid #f1f1f1;

  perspective: 1000px;
  margin-left: 31%;
  margin-top: 15%; 
}


.flip-card-inner {
  position: relative;
  width: 150%;
  height: 150%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 150%;
  height: 150%;
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}
/*Footeri*/

footer section
{
    width: 100%;
    margin-top: 4%;
    display: inline-flex;;
}
footer section div h3
{
    color: #fde2cf;
    font-size: 130%;
}
.div1
{
    margin-right: 30%;
    margin-left: 4%;
}
.div1 a
{
    color: #fde2cf;
    text-decoration: none;
}
footer section div p
{
    color: #fde2cf;
    font-size: 120%;
}
footer section div input
{
    margin:2%;
    padding: 5%;
    color: white;

}
#sub1{
    width: 60%;
    color:#595858;
    background-color: #fde2cf;
    border:none;
    border-radius: 6px;
    font-size: 130%;

}
.secfooter
{
    background-color: #86bdbf;
    width: 99.6%;
    margin-top: 0%;
    padding: 3px;

}
#copyright
{
    margin-top: 0%;

    color:#595858;
    font-style: italic;
    padding-top: 5%;
    font-size: 90%;


}
#main{
	padding-top: 5px;

	padding-bottom: 5px;

}
#end
{
    color:#595858;
   font-style: italic;
   font-size: 90%;

}

.footer1{

/*    height: 350px;*/


}

.link1{
    text-decoration: none;
    color: black;
}
