body {
  margin: 0;
  background-color: #fcf0f0;

}
header{
  background:  rgba(2, 2,2,0.4);
  width: 100% !important;

  height: 130px;

}

.navbar {
  overflow: hidden;


  margin-left: 60%;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: #485e74;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #485e74;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background: rgba(2, 2,2,0.3);
  border-bottom: 3px solid #86bdbf;
  -webkit-appearance:none;
      color:white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



#figborder {
border: 35px solid white;
border-color: white;
margin:6%;
width: 75%;
height: 650px;
border-radius: 20px;



}

#fig1 {

        width: 400px;
       height: 500px;
    margin-top: -14%;
border-radius: 20px;
 box-shadow: 10px 10px 8px  #888888;
    margin-left: 25%;
}

#fig2{
    width: 400px;
    height: 500px;
border-radius: 20px;
    margin-left: 59%;
    margin-top: -5%;
     box-shadow: 10px 10px 8px  #888888;
}
#fig3 {

      width: 400px;
      height: 500px;
    margin-top: -14%;
    margin-left: 25%;
    margin-bottom: -28%;
    border-radius: 20px;
     box-shadow: 10px 10px 8px  #888888;;

}
#figborder1 {
border: 20px solid white;
border-color: white;
margin:6%;
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 220px;
  border: 1px solid #f1f1f1;

  perspective: 1000px;
  margin-left: 31%;
  margin-top: 15%; /* Remove this if you don't want the 3D effect */
}
