*{
  box-sizing:
}
body{
  margin: 0;
}
*
{
padding: 0;
margin: 0;
}
#ul1{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav{
  margin-top: 35px;
  margin-left: 52%;
}

.ul2{

  float: left;
  width: 100px;
  height: 40px;
  background-color: rgba(2, 2,2,0.0);
  opacity: 0.8;
  line-height: 40px;

  text-align: center;
  font-size: 18px;

}
.ul2 a{
  text-decoration: none;
  color: white;
  display: block;

}

.ul2 a:hover{
    text-align: center;
  background-color: rgba(2, 2,2,0.5);
  border-bottom: 3px solid #86bdbf;
  -webkit-appearance:none;
      color:coral;

}
.ul3{
  display: none;
background:  rgba(2, 2,2,0.3);
	border-bottom:0px !important;
}
.ul2:hover ul li{
  display: block;
}
 {
   width: 1350px;
 }




#navbar{
  background:  rgba(2, 2,2,0.4);
  width: 100% !important;

  height: 115px;
position: relative;

}


#myVideo{

      margin: auto;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: visible;
      opacity: 1;
      width: 1265.33px;
      height: auto;
      overflow: hidden;


}


section{


/*	background: rgba(2, 2,2,0.2) ;*/
	color: white;
	padding-bottom: 1em;
}



#drop{
	overflow: hidden;


}




header
{

  width: 100% !important;
	height: 500px;

background-image:
        linear-gradient(rgba(2, 2,2,0.5), rgba(2, 2,2,0.1)),
        url('health.mp4');
    background-size: 1300px 500px;



}

#get{

	color: white;
	font-size: 220%;
	font-weight: 180%;
}
#list{
  margin-left: 50px;
list-style-type: square
}
#list li{

padding: 20px;
padding-right: 50px;
}
#list a{
  text-decoration: none;
  color: black;
  border: none;
}
#list li:hover{

color: lightblue;
}
#list li:active{
  border-left: 3px ;
  border-color: coral;
}
.art1{
  background-color: white;
  height: 600px;
  padding: 8%;
}
.sec1{
  display: inline-flex;
}
.sdiv h3{
  margin-left: 20px;
  font-size: 25px;
}

.sdiv h5{
  margin-left:20px;
}

#btn1{
  margin-top: 2%;
  width: 120px;
  height: 35px;
  margin-left: 80%;
  border: 0;
      background: none;
      -webkit-appearance: none;
  background-color: coral;
  color: white;
  border-radius:1px;
  outline: 0 !important;


}
#btn2{
  margin-top: 2%;
  width: 120px;
  height: 35px;
  margin-left: 108%;
  border: 0;
      background: none;
      -webkit-appearance: none;
  background-color: coral;
  color: white;
  border-radius:1px;
  outline: 0 !important;


}
#btn4{
  margin-top: 2%;
  width: 120px;
  height: 35px;
  margin-left: 108%;
  border: 0;
      background: none;
      -webkit-appearance: none;
  background-color: coral;
  color: white;
  border-radius:1px;
  outline: 0 !important;


}

#health{
  border-collapse: collapse;
  width: 85%;

}
th{background-color: coral;
  color: white;
  padding: 9px;
  text-align: center;
}
td{width: 140px;
padding: 4px;
  border-bottom: 1px black;


  text-align: center;

}
 tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
table, th, td {
  border: 1px solid black;
}
#tab{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*FOOTER*/
footer section
{
    width: 100%;
    margin-top: 4%;
    display: inline-flex;;
}
footer section div h3
{
    color: #fde2cf;
    font-size: 130%;
}
.div1
{
    margin-right: 30%;
    margin-left: 4%;
}
.div1 a
{
    color: #fde2cf;
    text-decoration: none;
}
footer section div p
{
    color: #fde2cf;
    font-size: 120%;
}
footer section div input
{
    margin:2%;
    padding: 5%;
    color: white;

}
#sub1{
    width: 60%;
    color:#595858;
    background-color: #fde2cf;
    border:none;
    border-radius: 6px;
    font-size: 130%;

}
.secfooter
{
    background-color: #86bdbf;
    width: 99.6%;
    margin-top: 0%;
    padding: 3px;

}
#copyright
{
    margin-top: 0%;

    color:#595858;
    font-style: italic;
    padding-top: 5%;
    font-size: 90%;


}
#main{
	padding-top: 5px;
position: sticky !important;
	padding-bottom: 5px;

}
#end
{
    color:#595858;
   font-style: italic;
   font-size: 90%;

}

.footer1{

/*    height: 350px;*/


}

.link1{
    text-decoration: none;
    color: black;
}
.valid {
    border-color: #36cc36;


}

.invalid {border-color:coral;

                     }
input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}
