body{
	margin: 0;
}
#ul1{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav{
  margin-top: 35px;
  margin-left: 52%;
}

.ul2{

  float: left;
  width: 100px;
  height: 40px;
  background-color: rgba(2, 2,2,0.0);
  opacity: 0.8;
  line-height: 40px;

  text-align: center;
  font-size: 18px;

}
.ul2 a{
  text-decoration: none;
  color: white;
  display: block;

}

.ul2 a:hover{
    text-align: center;
  background-color: rgba(2, 2,2,0.5);
  border-bottom: 3px solid #86bdbf;
  -webkit-appearance:none;
      color:coral;

}
.ul3{
	margin-left: -64%;
	width: 100px;
  display: none;
background:  rgba(2, 2,2,0.3);
	border-bottom:0px !important;
}
.ul2:hover ul li{
  display: block;
}
 {
   width: 1350px;
 }

#Search{

	border:none;
    border-style: none;
	padding-top: 1em;
	padding-left: 84%;
}
#Search input{

	color: lightgrey;
	background-color:#1F242A;
	border-radius: 15px;

	border-color: #1F242A;
}


#navbar{
  background:  rgba(2, 2,2,0.4);
  width: 100% !important;
padding-bottom:4em;
  height: 115px;
position: relative;

}


#description{
	width:99%;
	background-color: #E7E7E7;
	border-bottom: #DADADA solid 5px;
	padding:0 0.5% 2% 0.5%;
	color: black;
	display: inline-flex;
	padding-top: 2%;

    }

header
{
  width: 100% !important;
	height: 500px;
    background-image: url(images/travel.png) ;
    background-repeat: no-repeat ;
    background-size: 1300px 500px;
}
header h2{
	font-size: 180%;
}

#CONTACT{

	border: 0;
    background: none;
    -webkit-appearance: none;
    color:white;
    background-color: black;
    border-radius: 5px;
    margin: 12% 20% 0% 0%;

    width: 120%;
    padding: 7% 0% 7% 0%;
    font-size: 120%;

}
#description h3{
    font-size: 170%;
	margin-right:  2.5%;


}
/*cccc*/
.med{
color: black;
text-decoration:none;
}
.img{
  margin:5%;
  width: 90%
}

.icons{
  background-color: white;
}
center{
	text-align: center;
}
.photos1{
	margin: 5%;
}
.wrap
{
    width: 80px;
    margin-top: 30px;


}
/*rregullimi*/
.icons h3 a{
	text-decoration: none;
	color: black;
}
.card
{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);

    width: 400px;
    background-color: white;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    margin: 10px;
    float: left;
  color: black;
}
.wrap:hover .card {
	transform:scale(1.05);
	overflow: hidden;

}
.container
{
    padding: 2px 16px;
}
footer section
{
    width: 100%;
    margin-top: 4%;
    display: inline-flex;;
}
footer section div h3
{
    color: #fde2cf;
    font-size: 130%;
}
.div1
{
    margin-right: 30%;
    margin-left: 4%;
}
.div1 a
{
    color: #fde2cf;
    text-decoration: none;
}
footer section div p
{
    color: #fde2cf;
    font-size: 120%;
}
footer section div input
{
    margin:2%;
    padding: 5%;
    color: white;

}
#sub1{
    width: 60%;
    color:#595858;
    background-color: #fde2cf;
    border:none;
    border-radius: 6px;
    font-size: 130%;

}
.secfooter
{
    background-color: #86bdbf;
    width: 99.6%;
    margin-top: 0%;
    padding: 3px;

}
#copyright
{
    margin-top: 0%;

    color:#595858;
    font-style: italic;
    padding-top: 5%;
    font-size: 90%;


}
#main{
	padding-top: 5px;
position: sticky !important;
	padding-bottom: 5px;

}
#end
{
    color:#595858;
   font-style: italic;
   font-size: 90%;

}

.footer1{

/*    height: 350px;*/


}

.link1{
    text-decoration: none;
    color: black;
}
.valid {
    border-color: #36cc36;


}

.invalid {border-color:coral;

                     }
input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}
